html {
  font-family: sans-serif;
}

/* Your CSS below here */
div{
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem; /*Center the text*/
  background-color: rgb(133, 0, 228);
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid rgb(50, 0, 85);
  background-image: linear-gradient(to right bottom, rgb(133, 0, 228), rgb(0, 0, 0));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);


}